<div class="row-fluid">
  <div class="span12">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon"><i class="icon-align-justify"></i></span>
        <h5>Design attributes</h5>
      </div>
      <div class="widget-content nopadding">
        <%= render :partial => 'design_attribute', :locals=>{:f => f} %>
      </div>
    </div>
  </div>
</div> 

<div class="row-fluid">
  <div class="span12">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon"><i class="icon-align-justify"></i></span>
        <h5>Settings attributes</h5>
      </div> 
      <div class="widget-content nopadding">
        <%= render :partial => 'setting_attribute', :locals=>{:f => f} %>
        <div class="form-actions">
          <%= f.submit "Save", :class=>"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div> 
