<p>Hello <%= @user.email %>!</p>

<p>Someone has invited you to <%= root_url %>, you can accept it through the link below.</p>

<p><%= link_to 'Accept invitation', "#"%></p>

<p>If you don't want to accept the invitation, please ignore this email.
