<div class="row">
	<div class="span4 centered offset4">
		<div class="price-box well">
			<h3>Upgrade your account</h1>
			<div class="plan_buy">
        <a href="/pages/pricing" class="btn">See Plans</a>
			</div>
		</div>
	</div>
</div>
