<% content_for :header do %>
  <h1>BatBugger</h1>

  <div class="btn-group">
    <div class='row'>
      <div class="span3">
        <div class="row">
          <div class="span4" style="width:80%;">
            <span style="font-size:12px;">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
