<div id="hero">

<% unless current_user.blank? %>
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <div class="alert alert-info alert-block">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <a href="/projects" style="text-decoration: none;">
              <h4 class="alert-heading" style="text-align: center;">
               Hey, you're already signed in.
               <span style="margin-left:20px;">Get to work! <i class="icon-hand-right"></i></span>
               </h4>
             </a>
      </div>
    </div>
  </div>
<% end %>


  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- carousel items -->
          <div class="carousel-inner">
              <!-- slide -->
              <div class="active item slide1">
                <div class="row">
                  <div class="span6">
                    <img src="/assets/slide1.png" alt="slide1" />
                  </div>
                  <div class="span4">
                    <h1>
                      BatBugger helps you for Rails Application
                    </h1>
                    <p>
                      BatBugger collects your app errors and notify you via email and interact with 3rd party project management tools.
                    </p>
                    <a href="users/sign_up" class="btn btn-success btn-large">
                      SignUp Now!
                    </a>
                  </div>
                </div>
              </div>
              <!-- slide -->
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide2.jpg" alt="slide3" />
              </div>
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide3.jpg" alt="slide3" />
              </div>
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide4.jpg" alt="slide3" />
              </div>
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide5.jpg" alt="slide3" />
              </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
    
    <div class="widget-box">
      <div class="widget-title">
        <h3> Our Customers: </h3>
      </div>
      <div class="widget-content">
        <ul class="thumbnails">
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/asos.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/dbdirect_0.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/ean_0.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/patch_0.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/whitli.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/yellowpages_0.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/yousendit_0.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/zoopla%20main%20customer.jpg" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/tomtom.jpg" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/ACTIVElogobox.jpg" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/aetna_0.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/appolicious.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/argos.jpg" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/bazaarvoice_0.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/benetch.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/bestbuy.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/bibliocommons.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/bluefly.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/blurb.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/bodymedia.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/byelex.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/calais.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/cbsinteractive.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/cellfire.png" alt="">
            </a>
          </li>
          
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/channel4.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/Chloe_isabel.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/CCElogobox.jpg" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/comcast_logo.jpg" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/compassion.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/comscore.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/constantcontactlogobox.png" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/crunchbase_0.jpg" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/EdLocate.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/edmunds.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/Egnytelogo_1.jpg" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/flixster_0.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/follett.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/food-essentialists.jpg" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/getsatisfication.png" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/gifts.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/gogrid_0.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/goodguide.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/harpercollins.png" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/homefinder.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/hoovers.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/hotwire.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/iee.png" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/inome-logo.jpeg" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/jambase.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/jigsaw.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/jodange.png" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/klout_0.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/letmego_0.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/lulu.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/MediaOcean_1.png" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/neustar_0.png" alt="">
            </a>
          </li>

          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/Passbanlogo.jpg" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/PI.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/personal.jpg" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/pipl_0.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/premierfarnell.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/rdio_0.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/rovi.png" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/salsa.png" alt="">
            </a>
          </li>
          
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/shopping_0.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/singleplatform_0.png" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/SportsDatabox.jpg" alt="">
            </a>
          </li>                  
          <li class="span2">
            <a href="#" class="thumbnail">
              <img src="assets/customers/springer_0.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
