<div id="hero">

<% unless current_user.blank? %>
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <div class="alert alert-info alert-block">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <a href="/projects" style="text-decoration: none;">
              <h4 class="alert-heading" style="text-align: center;">
               Hey, you're already signed in.
               <span style="margin-left:20px;">Get to work! <i class="icon-hand-right"></i></span>
               </h4>
             </a>
      </div>
    </div>
  </div>
<% end %>


  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- carousel items -->
          <div class="carousel-inner">
              <!-- slide -->
              <div class="active item slide1">
                <div class="row">
                  <div class="span6">
                    <img src="/assets/slide1.png" alt="slide1" />
                  </div>
                  <div class="span4">
                    <h1>
                      BatBugger helps you for Rails Application
                    </h1>
                    <p>
                      BatBugger collects your app errors and notify you via email and interact with 3rd party project management tools.
                    </p>
                    <a href="users/sign_up" class="btn btn-success btn-large">
                      SignUp Now!
                    </a>
                  </div>
                </div>
              </div>
              <!-- slide -->
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide2.jpg" alt="slide3" />
              </div>
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide3.jpg" alt="slide3" />
              </div>
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide4.jpg" alt="slide3" />
              </div>
              <div class="item slide3 animated fadeInUpBig">
                <img src="/assets/slide5.jpg" alt="slide3" />
              </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
    
    <div class="widget-box">
      <div class="widget-title">
        <h3> Our Customers: </h3>
      </div>
      <div class="widget-content">
        <ul class="thumbnails">
          <% (1..84).each do |i| %>
            <li class="span2">
              <a href="#" class="thumbnail">
                <img src="assets/customers/<%= i %>.png" alt="">
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
