<!-- features -->
<div id="features" class="features_page">
    <div class="container">
        <div class="features1">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Features</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row">
                <div class="span12">
                    <h3 class="intro">
                        Whether you need to create a brand from scratch, including marketing materials
                        and a beautiful and functional website or whether you are looking for a design
                        refresh pleased with the results.
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="span4 feature2">
                    <div class="icon">
                        <i class="cloud"></i></div>
                    <h4>Manage your bugs</h4>
                    <p>
                       We want Zero Bug. We find bugs and help you fix them.
                    </p>
                </div>
                <div class="span4 feature2">
                    <div class="icon">
                        <i class="tools"></i></div>
                    <h4>View full error details</h4>
                    <p>
                        We provide you to see full detailed information of bug.
                    </p>
                </div>
                <div class="span4 feature2">
                    <div class="icon">
                        <i class="graph"></i></div>
                    <h4>Discussion on errors</h4>
                    <p>
                      You can discuss regarding error with your team.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span4 feature2">
                    <div class="icon">
                        <i class="mobile"></i></div>
                    <h4>Errors by email</h4>
                    <p>
                      You will get error information via email as well.
                    </p>
                </div>
                <div class="span4 feature2">
                    <div class="icon">
                        <i class="lab"></i></div>
                    <h4>Campfire notifications</h4>
                    <p>
                        You will get campfire notification.
                    </p>
                </div>
                <div class="span4 feature2">
                    <div class="icon">
                        <i class="secure"></i></div>
                    <h4>PivotalTracker notifications</h4>
                    <p>
                      You will get pivotal tracker activities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

