<div id="pricing" class="pricing_page">
  <div class="container">
    <h2 class="section_header">
      <hr class="left visible-desktop">
        <span>
          Pricing 
          <small>
          See plan details here</small>
        </span>
      <hr class="right visible-desktop">
    </h2>
    
    
    <div class="row">
      <div class="span12">
        <div class="price_wrapper pro" style="height: 440px;">
          <div class="header" style="height: 44px;">
              <span>Basic: $5.00</span>
          </div>
          <div class="section">
            <h3>Unlimited projects and work with 3rd party project management tools.</h3>
            <ul class="unstyled">
            <li>
            <i class="icon-ok"></i>
            <strong>Unlimited projects</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Unlimited members</strong>
            </li>
            <li>
            <li>
            <i class="icon-ok"></i>
            <strong>Project management tool</strong>
            </li>
            <li>
            <li>
            <i class="icon-ok"></i>
            <strong>Group Chat for each project</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>SSL enabled by default(Coming soon...)</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Full text error search</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Weekly error summary email</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Notification by email</strong>
            </li>
            
            <li>
            <i class="icon-ok"></i>
            <strong>Campfire</strong>
            </li>
            
            <li>
            <i class="icon-ok"></i>
            <strong>Pivotal Tracker</strong>
            </li>
            
            <li>
            <i class="icon-ok"></i>
            <strong>BaseCamp(Coming soon...)</strong>
            </li>
            
            </ul>
            <% if current_user %>
              <div class="row">
                <div class="span2">
                  <%unless params[:project].blank?%>
                    <%= link_to "Subscription", express_paypal_subscriptions_path(:project=> params[:project], :plan => Plan.first.id), :class=>"btn btn-primary btn-mini", :style=>" position: inherit !important;" %>
                  <%else%>
                    <%= link_to "Select Project", projects_path, :class=>"btn btn-info btn-mini", :style=>" position: inherit !important;" %>
                  <%end%>  
                </div>
                <div class="span1">
                  <%= (link_to "Skip", projects_path, :class=>"btn btn-mini", :style=>" position: inherit !important;")%>
                </div>  
              </div>
            <% else %>
              <a href="/users/sign_up" class="btn">SignUp Now</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
