<div id="pricing" class="pricing_page">
  <div class="container">
    <h2 class="section_header">
      <hr class="left visible-desktop">
        <span>
          Pricing 
          <small>
          See plan details here</small>
        </span>
      <hr class="right visible-desktop">
    </h2>
    
    
    <div class="row">
      <div class="span12">
        <div class="price_wrapper pro" style="height: 460px;">
          <div class="header">
              <span>Basic:</span>
              <div class="price">
                  <span>Free</span>
                  Beta Version
              </div>
          </div>
          <div class="section">
            <h3>Unlimited projects and work with 3rd party project management tools.</h3>
            <ul class="unstyled">
            <li>
            <i class="icon-ok"></i>
            <strong>Unlimited projects</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Unlimited members</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>SSL enabled by default(Coming soon...)</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Full text error search</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Weekly error summary email</strong>
            </li>
            <li>
            <i class="icon-ok"></i>
            <strong>Notification by email</strong>
            </li>
            
            <li>
            <i class="icon-ok"></i>
            <strong>Campfire</strong>
            </li>
            
            <li>
            <i class="icon-ok"></i>
            <strong>Pivotal Tracker</strong>
            </li>
            
            <li>
            <i class="icon-ok"></i>
            <strong>BaseCamp(Coming soon...)</strong>
            </li>
            
            </ul>
            <%# if current_user %>
              <%#= link_to "Get Plan", new_subscription_path(:plan_id => "1"), :class=>"btn" %>
            <%# else %>
              <!--<a href="/users/sign_up" class="btn">SignUp Now</a>-->
            <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
