<%=render :partial => "shared/header_container"%>
<div id="breadcrumb">
    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <%= link_to 'Projects', projects_path, :class => "current"  %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
    </div>
    <div class="span2">
      <%= link_to new_project_path do  %>
      <button class="btn btn-success">Create New Project</button>
      <% end %>
    </div>
  </div>
  <%= render :partial => "project_errors" %>
</div>

<script type="text/javascript">
  
 var interval = null;

  jQuery(function(){
    interval = setInterval(get_latest_errors, 5000);
  });

  function get_latest_errors(){
    $.ajax({
      url: "/projects/get_project_errors",
      type: "get",
      success: function(data){
          $('#project_results').html(data);
      }  
    }); 
  }

</script>

