/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 */

/* set flash message styling */ 
.flash_message{
  width:1000px; 
  margin:auto; 
  text-align:center;
  margin-top:40px;
}
.aution_flash_message{
  margin: 0 0 0 48px;
  text-align: center;
  width: 1098px;
}
.error{
  color: red;
  float: left;
}
.alert-error{
  border-radius: 4px !important;
}
.set_err_msg{
  padding: 10px;
}
