<% content_for :header do %>
  <h1>Update Your Username</h1>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <%= render :partial => 'devise/registrations/change_username'%>
    </div>
  </div>
</div>

