<!-- starts footer -->
<div id="footer" style="min-height: 50px; padding-top: 0;">
  <div class="container">
    <div class="row copyright">
      <div class="span5">
        <h3>Social</h3>
        <a href="javascript:void(0);" class="social fb" target="_blank">
          <i class="i_facebook"></i>
        </a>
        <a href="javascript:void(0);" class="social tw" target="_blank">
          <i class="i_twitter"></i>
        </a>
        <a href="javascript:void(0);" class="social yt">
          <i class="i_youtube"></i>
        </a>
      </div>
      <div class="span3 offset4 copy">
        <p>@2013 - BatBugger Beta</p>
      </div>
    </div>
  </div>
</div>
